<div style="height: 15rem ;width: 50rem; margin-left: 20rem; margin-top: 2rem;">
<div class="col-md-6 mt-auto">
  <div class="container ml-5 pl-5">
    <h2 class="text-center">Create new account</h2>
<form action="/signup" method="post">
  
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Name</label>
    <input type="text" id="form2Example1" class="form-control" placeholder="Name" />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Email address</label>
    <input type="email" id="form2Example2" class="form-control" placeholder="Email address" />
  </div>
 
     <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
  </div>
  
  <!-- Submit button -->
  <a href="/login">Already have account ?</a>
  <button type="submit" class="btn btn-primary btn-block mb-4">Signup</button>
</form>
</div>
</div>
</div>